zookeeper:
  user: zookeeper
  group: zookeeper
  uid: '60030'
  version: '3.4.8'
  default_url: "http://ftp.heanet.ie/mirrors/www.apache.org/dist/zookeeper/stable/"
  prefix: /opt
  service_conf: /etc/init.d/zookeeper
  service_script: "zookeeper.init-ubuntu"
  config:
    log_dir: /var/log/zookeeper
    log_level: INFO
    data_dir: /var/lib/zookeeper
    client_port: '2181'
    snap_count: None
    snap_retain_count: 3
    purge_interval: None
    max_client_cnxns: 100
