{% import_yaml 'zookeeper/defaults.yaml' as defaults %}

{% set zookeeper = salt['pillar.get']( 'zookeeper', default=defaults.zookeeper, merge=True) %}

{% set home = zookeeper.install_dir ~ "/" ~ zookeeper.version %}
{% set env_file = home ~ "/zookeeper-env.sh" %}
{% set config_dir = home ~ "/config" %}
{% set config_file = home ~ "/conf/zoo.cfg" %}
{% set bin_dir = home ~ "/bin" %}

{# set ips = salt['mine.get']('roles:zookeeper', 'network.ip_addrs', 'grain') #}
{# set myids = salt['mine.get']('roles:zookeeper', 'zookeeper_myid', 'grain') #}

{% do zookeeper.update({
                        'home': home,
                        'env_file': env_file,
                        'config_dir': config_dir,
                        'config_file': config_file,
                        'bin_dir': bin_dir,
                        'ips': ips,
                        'myids': myids,
                       }) %}
