{% set zk_map = salt['grains.filter_by']({
    'default': {
      'service_conf': '/etc/init.d/zookeeper',
      'service_script': 'zookeeper.init-ubuntu',
    },
    'Ubuntu': {
    },
}, merge=salt['pillar.get']('zookeeper:lookup'), default='default') %}
